#manualEntryLink {
    color: #79bc43;
}

#manualEntryForm {
    display: none;
}

#service-request-form {
	.tokenfield {
		min-height:38px;
		font-size:16px;
		border-radius:50px;
		border:1px solid #28a745;
	}

	.tokenfield .token .close {
		color:#000;
	}
	
	#InputEmail-tokenfield {
		min-width:180px !important;
	}

	.tokenfield.focus, .has-warning .tokenfield.focus, .has-error .tokenfield.focus,  .has-success .tokenfield.focus{
	  border-color: #80bdff;
	  -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	}
}